VITE_YANDEX_FOLDER_ID="<folder ID>"

VITE_YANDEX_TRANSLATE_API_URL="/yandex-translate-api/translate/v2/translate"
VITE_YANDEX_TRANSLATE_API_KEY="<translate api key>"

VITE_YANDEX_SPEECH_KIT_API_URL='/yandex-tts-api/tts/v3/utteranceSynthesis'
VITE_YANDEX_SPEECH_KIT_API_KEY="<speech kit api key>"